<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <!--system.serviceModel>
    <services>
      <service name="Arbinada.GenieLamp.Warehouse.Services.DomainServices" behaviorConfiguration="warehouseServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/WarehouseDomainServices"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="accountingServiceBinding" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="warehouseServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" policyVersion="Policy15"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel-->

  <log4net debug="false">
    <!-- Define some output appenders -->
    <appender name="trace" type="log4net.Appender.TraceAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n"/>
      </layout>
    </appender>

    <appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n"/>
      </layout>
    </appender>

    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="log.txt"/>
      <param name="AppendToFile" value="false"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>

    <!-- Setup the root category, add the appenders and set the default priority -->
    <root>
      <priority value="INFO"/>
      <!--appender-ref ref="console"/-->
      <appender-ref ref="rollingFile"/>
    </root>
  </log4net>


  <!--startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup-->
</configuration>
